<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VivoBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <VivoBuilder.Properties.Settings>
            <setting name="ConnString" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="CurrentDataModel" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="CurrentDatabaseType" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="ProviderString" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="InitialCatalog" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="Folder" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="Namespace" serializeAs="String">
                <value />
            </setting>
            <setting name="SolutionFilename" serializeAs="String">
                <value />
            </setting>
        </VivoBuilder.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="serverName" value=""/>
    <add key="databaseName" value=""/>
    <add key="userID" value=""/>
    <add key="password" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ForeignKeyEndsWith" value="ID"/>
    <add key="generatedClassesNames" value="Model,ModelView,IBusinessLogic,BusinessLogic,IBusinessLogicView,BusinessLogicView,Controller,SpNames"/>
  </appSettings>
</configuration>